body{
    background-color: #d8e4fe;
}
h1, div, button, ::placeholder {
    color: #bd5574;
}
p{
    color: white
}
.item{
    background-color: #6b303c;
    width: 35%;
    text-align: left;
    margin: 5px 0;
    padding: 5px;
}
.item.complete {
  text-decoration: line-through;
  background-color: #86525e;
}